.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e9e6, #c2c4c2);
  box-shadow: 6px 6px 12px #bfc2bf, -6px -6px 12px #eff2ef;
  width: 450px;
  height: 300px;
}

.password {
  all: unset;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  background: #d7dad7;
  box-shadow: inset 22px 22px 44px #bfc2bf, inset -22px -22px 44px #eff2ef;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.clue {
  max-width: 200px;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.251);
}
